// Color varialbles

$primary : #25354C;
$secondary: #07B5FF;
$gray: #F4F4F4;
$white : #FDFDFD;
$text-gray: #999999;
$green: #4BAF4F;
$dark-blue :#5E73EA;
$dark-green: #00A38F;
$neutral: #5F7D8C;
$red: #F44336;
$bg-body: #F0F6FB;