/* copied from mat-indigo*/
$dat-primary: (
  50: #4f71a2,
  100: #466591,
  200: #3e597f,
  300: #364d6e,
  400: #2d415d,
  500: #25354C,
  600: #1d293b,
  700: #141d2a,
  800: #0c1119,
  900: #040507,
  A100: #5b7daf,
  A200: #6c8bb7,
  A400: #7d99c0,
  A700: #000000,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);


/* copied from mat-pink*/
$dat-accent: (
  50: #14289b,
  100: #172eb1,
  200: #1a34c8,
  300: #1d3ade,
  400: #314ce4,
  500: #475fe7,
  600: #7587ed,
  700: #8b9af0,
  800: #a2aef3,
  900: #b8c1f6,
  A100: #7587ed,
  A200: #5E73EA,
  A400: #475fe7,
  A700: #cfd5f9,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

/* copied from mat-red*/
$dat-warn: (
  50: #ffebee,
  100: #ffcdd2,
  200: #ef9a9a,
  300: #e57373,
  400: #ef5350,
  500: #f44336,
  600: #e53935,
  700: #d32f2f,
  800: #c62828,
  900: #b71c1c,
  A100: #ff8a80,
  A200: #ff5252,
  A400: #ff1744,
  A700: #d50000,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);